In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
import numpy as np

# Define the ranges of c1, c2, c3, and c4
c1_range = (0.7737, 1.0397)
c2_range = (0.8073, 1.0678)
c3_range = (0.7722, 1.0678)
c4_range = (0.7756, 1.0270)

# Generate random arrays c1 and c2 with the same values within their respective range
c1 = np.random.uniform(c1_range[0], c1_range[1], size=1000)
c2 = np.copy(c1)

# Generate random arrays c3 and c4 with the same values within their respective range
c3 = np.random.uniform(c3_range[0], c3_range[1], size=1000)
c4 = np.copy(c3)

# Print the first 10 elements of each array
print("c1:", c1[:10])
print("c2:", c2[:10])
print("c3:", c3[:10])
print("c4:", c4[:10])

c1: [0.82593067 0.83437607 0.91669133 0.86642565 0.77890402 0.96374883
 0.99404333 0.9794879  0.77579852 0.86682463]
c2: [0.82593067 0.83437607 0.91669133 0.86642565 0.77890402 0.96374883
 0.99404333 0.9794879  0.77579852 0.86682463]
c3: [0.97084761 0.85643574 0.83010323 0.90781058 0.93344282 0.77758088
 1.04264571 0.81629528 0.80695265 0.78816828]
c4: [0.97084761 0.85643574 0.83010323 0.90781058 0.93344282 0.77758088
 1.04264571 0.81629528 0.80695265 0.78816828]

In [3]:
# Create a pandas dataframe with four columns for c1, c2, c3, and c4
df = pd.DataFrame({'c1': c1, 'c2': c2, 'c3': c3, 'c4': c4})

In [4]:
df

           c1        c2        c3        c4
0    0.825931  0.825931  0.970848  0.970848
1    0.834376  0.834376  0.856436  0.856436
2    0.916691  0.916691  0.830103  0.830103
3    0.866426  0.866426  0.907811  0.907811
4    0.778904  0.778904  0.933443  0.933443
..        ...       ...       ...       ...
995  0.995163  0.995163  0.848672  0.848672
996  0.889150  0.889150  1.037205  1.037205
997  0.794226  0.794226  1.064607  1.064607
998  0.849862  0.849862  0.773532  0.773532
999  0.965953  0.965953  0.920832  0.920832

[1000 rows x 4 columns]

In [5]:
# Export the dataframe to an Excel file
df.to_excel('test_data_c1=c2|c3=c4.xlsx', index=False)