In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
import random

# set the range for the random float numbers
min_value_1 = 0.8073
max_value_1 = 1.0678

min_value_2 = 0.7737

max_value_2 = 1.0397

# generate a random array of length n with float numbers within the specified range
n = 1000
array1 = [random.uniform(min_value_1, max_value_1) for i in range(n)]
array2 = [random.uniform(min_value_2, max_value_2) for i in range(n)]

# make sure array2 is greater than array1
for i in range(n):
    if array2[i] <= array1[i]:
        array2[i] = array1[i] + random.uniform(0.1, 0.5) # add a random float number between 0.1 and 0.5

# print("Array 1:", array1)
# print("Array 2:", array2)

In [5]:
df = pd.DataFrame()

In [7]:
array2>array1

True

In [8]:
df['c1'] = array1
df['c2'] = array2

In [9]:
df.to_excel('c1<c2.xlsx',index=False)

In [10]:
df

           c1        c2
0    0.979598  0.981408
1    0.973741  1.287122
2    0.825974  0.948940
3    0.881476  1.017983
4    0.825818  0.862543
..        ...       ...
995  0.847664  0.968267
996  1.054169  1.217702
997  0.878497  1.020137
998  0.983788  1.272757
999  1.033311  1.456245

[1000 rows x 2 columns]