In [21]:
import numpy as np
import pandas as pd
# Generate 1000 random values within the specified ranges
c1 = np.random.uniform(0.773, 1.039, size=3000)
c2 = np.random.uniform(0.807, 1.067, size=3000)

# Keep only the values where c3 > c4
mask = c1 < c2
c1 = c1[mask][0:1000]
c2 = c2[mask][0:1000]

In [22]:
imp_ = pd.DataFrame()

In [23]:
imp_['c1'] = c1
imp_['c2'] = c2

In [24]:
imp_

           c1        c2
0    0.829590  0.916136
1    0.830993  0.958169
2    0.822711  1.015930
3    0.816364  0.935028
4    0.908855  0.956333
..        ...       ...
995  0.775064  0.910742
996  0.939571  0.950539
997  0.964101  1.005892
998  0.892456  1.017053
999  0.963876  1.034484

[1000 rows x 2 columns]

In [25]:
np.count_nonzero(c1>c2)

0

In [26]:
np.max(c1)

1.0386374143648722

In [27]:
# Save the DataFrame to a CSV file
imp_.to_excel('c1<c2.xlsx', index=False)